[submodule "src/dwm"]
	path = src/dwm
	url = git@github.com:bpsuntrup/dwm.git
[submodule "src/st"]
	path = src/st
	url = git@github.com:bpsuntrup/st.git
[submodule "vim-settings"]
	path = vim-settings
	url = git@github.com:bpsuntrup/vim-settings.git
